body {
  background: #000000;
}
* {margin: 0; padding: 0;}
.center-box {
  width:940px;
  margin: 0 auto;
  max-width: 100%;
}
.center-box img {
  width: 100%;}
.title {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin: 30px auto 20px;
}
.img-list {
  width:100%;
}
.img-list li {
  width:48%;
  float: left;
  margin-bottom: 30px;
}
.img-list li img {
  width:100%;}
.img-list li:nth-child(2n) { margin-left: 4%;}
